@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-social:hover img {
  filter: invert(38%) sepia(93%) saturate(1277%) hue-rotate(184deg) brightness(103%) contrast(101%);
}

.main-bg {
  background-image: image-set(
    url('/img/bg/bg.webp') 1x type('image/webp'),
    url('/img/bg/bg.png') 1x,
    url('/img/bg/bg@2x.webp') 2x type('image/webp'),
    url('/img/bg/bg@2x.png') 2x
  );
  background-image: -webkit-image-set(
    url('/img/bg/bg.webp') 1x type('image/webp'),
    url('/img/bg/bg.png') 1x,
    url('/img/bg/bg@2x.webp') 2x type('image/webp'),
    url('/img/bg/bg@2x.png') 2x
  );

  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

@media (min-width: 2000px) {
  .main-bg {
    background-size: cover;
  }
}

@media (max-width: 1400px) {
  .main-bg {
    background-position: top;
    background-size: contain;
  }
}

.tab::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #8b8b8b;
  z-index: 1;
}
.tab.active::before {
  height: 2px;
  background-color: #0c0c0c;
}
